<!DOCTYPE html>
<html>
<head>
   <title>SpGet - StordProcedure to Script Framework</title>
	<style>
		li { display: inline-block; width: 120px; border-bottom: 1px solid #808080; padding: 7px; }
	</style>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
	<script src="~/Scripts/spGet/spGet.js"></script>
	<script>
		var para = new SpGet();

		$(function () {
			// delete all records
			spGet.AsInt("mem_del_all");

			// add a record
			spGet.AsInt("mem_add", { name: 'Daniel', phone: '714-100-0000' });

			// list a table
			var data = spGet.AsJson("mem_get_tbl");
			for (var i = 0, ln = data.length; i < ln; i++) {
				$("#board").append("<ul><li>" + data[i].id + "</li><li>" + data[i].name + "</li><li>" + data[i].phone + "</li></ul>");
			}
		});

	</script>
</head>
<body>
	@* Define an AntyForgeryForm for script security *@
	<form id="__ajaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
	<h1>SpGet - Member List</h1>
	<div id="board"></div>
</body>
</html>
